<!DOCTYPE html>
<html lang="pt-BR">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meu App</title>
  <link rel="stylesheet" href="./style.css?v=2" />
  <script src="https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.iife.js" defer init></script>
<body>
  <div v-scope="app" class="app">
    <aside class="sidebar">
      <nav class="nav">
        <button :class="{ 'nav-item' : true,'nav-item--active': screen === 'perfil' }" @click="go('perfil')">PERFIL</button>
        <button :class="{ 'nav-item' : true,'nav-item--active': screen === 'documents' }" @click="go('documents')">DOCUMENTOS</button>
        <button :class="{ 'nav-item' : true }" @click="go('login')">SAIR</button>
      </nav>
    </aside>

    <main class="main">
      <div class="screen-wrapper" v-if="screen === 'documents'">
      <h1 class="screen-title">Geração de Documentação</h1>
      <h1 class="screen-subtitle"> Selecione os parâmetros necessários para compilar e gerar os relatórios
oficiais em formato digital e enviar por e-mail.</h1>
      <section class="card" >
        <h1 class="card-title">
          <span class="background-icon">
            <img src="./assets/Icon.svg" alt="" class="nav-icon">
          </span> Documentação</h1>
        <h1 class="card-subtitle">Configuração de exportação de dados</h1>
        <label class="field">
          <span class="field-label">SELECIONE DISTRIBUIDORA</span>
          <select v-model="filters.tipo">
            <option value="">Selecione</option>
            <option value="a">Tipo A</option>
            <option value="b">Tipo B</option>
          </select>
        </label>

        <label class="field">
          <span class="field-label">SELECIONE ANO</span>
          <select v-model="filters.status">
            <option value="">Selecione</option>
            <option value="ano">2025</option>
            <option value="ano">2024</option>
            <option value="ano">2023</option>
            <option value="ano">2022</option>
            <option value="ano">2021</option>
          </select>
        </label>

        <button class="primary-btn" @click="gerarPDF">
          <img src="./assets/pdfbutton.svg" alt="" class="nav-icon">
          GERAR DOCUMENTAÇÃO PDF
        </button>
      </section>
      </div>
    </main>
  </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
      screen: 'home',
      filters: {
        tipo: '',
        status: ''
      }, 
      gerarPDF(){
        console.log('Gerar PDF com filtros:', this.filters)
      },
      aplicarFiltros() {
        console.log('Filtros aplicados:', this.filters)
      },
      go(to) {
        this.screen = to
      },
    }).mount()
  </script>
</body>
</html>

